body{
 background-color:black;
 color: white;
 font-family: 'ZCOOL QingKe HuangYou', cursive;
 border-style: solid;
 border-color: black;
 border-width: 10px;
 padding: 10px;
 margin:0 auto;
 width: 0 auto;
 
 position: absolute;
  
  width: 900px;
  
  

}

div.options {
    
    height: 500px;
    
    font-size: small;
   

   
    justify-content:center;
    display:flex;


}